<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Login</title>

<style>
body{
    background:#000;
    color:#fff;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    background:#111;
    padding:40px;
    border-radius:20px;
    text-align:center;
}

a{
    background:#ff0000;
    padding:15px 30px;
    border-radius:10px;
    color:#fff;
    text-decoration:none;
    font-size:18px;
}
</style>
</head>
<body>

<div class="box">

<h1>Entrar com Google</h1>

<br>

<a href="/login_google">
Entrar
</a>

</div>

</body>
</html>
