<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Painel</title>

<style>
body{
    background:#000;
    color:#fff;
    font-family:Arial;
    padding:30px;
}

input{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
}

button{
    background:#00cc66;
    color:#fff;
    border:none;
    padding:15px;
    border-radius:10px;
    width:100%;
    font-size:18px;
}

.card{
    background:#111;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}
</style>
</head>
<body>

<h1>Painel do Streamer</h1>

<form method="POST" action="/criar">

<input
type="text"
name="slug"
placeholder="slug-da-campanha"
required
>

<input
type="text"
name="name"
placeholder="Nome da campanha"
required
>

<input
type="text"
name="youtube_url"
placeholder="Link da live"
required
>

<input
type="text"
name="giveaway_url"
placeholder="Link do sorteio"
required
>

<button type="submit">
Criar Campanha
</button>

</form>

<h2>Campanhas Criadas</h2>

{% for slug, campanha in campanhas.items() %}

<div class="card">

<h3>{{ campanha.name }}</h3>

<p>
https://sistema-youtube.onrender.com/campanha/{{ slug }}
</p>

</div>

{% endfor %}

</body>
</html>
